//  text #52796f
//  logo #7e9760
// interface #849b68
// background light #e6f6d1
// middle #52796f
// dark #354f52
//https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46

$darkColor: #082018;

 .formContainer{
    background-color: #e6f6d1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #7e9760;
            font-weight: bold;
            font-size: 30px;
        }

        .title{
            color: #52796f;
            font-size: 16px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                border-bottom: 1px solid #a8bbae;
                &::placeholder{
                    color: #52796f;
                }
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #52796f;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }

            button{
                background-color: #97b0aa;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
        p{
            color:#52796f;
            font-size: 14px;
            margin-top: 10px;
        }
    }
 }


.home{
    .container{
        height: 100vh;
        display: flex;
        
        .sidebar{
            flex: 1;
            max-width: 300px;
            background-color: #fbfcfe;
            
            .navbar{
                display: flex;
                align-items: center;
                background-color: #52796f;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ffffff;

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img{
                        background-color: #ffffff;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: #cde8e0;
                        cursor: pointer;
                        padding: 4px;
                        border: none;
                    }

                    button:hover {
                        background-color: #b1ccc4;
                    }
                }
            }

            .userChat{
                display: flex;
                padding: 10px;
                align-items: center;
                gap: 10px;
                color: black;
                cursor: pointer;

                &:hover{
                    background-color: #bfc9c4;
                }
                 
                img{
                    background-color: #ffffff;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-size: 18px; font-weight: 500;
                    }
                    p{
                        font-size: 15px; color:#2e3130;
                    }
                }

            }
        }

        .chat{
            flex: 2;
            background-color: #dbe5e0;

            .chatInfo{
                height: 50px;
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: #b1ccc4;
                color: #1d352f;
            }

            .messages{
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: #406376;
                        
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                    }

                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #406376;
                            color: #ffffff;
                            padding: 10px 10px;
                            border-radius: 0px 10px 10px 10px;
                            font-weight: 500;
                            max-width: max-content;
                        }
                        img{
                            max-width: 70%;
                        }

                    }
                    &.owner {
                        flex-direction: row-reverse;
                        .messageContent{
                            align-items: flex-end;
                            p {
                                background-color: white;
                                color: #082018;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                       
                    }

                }
            }

            .input{
                height: 50px;
                background-color: #f8faf7;
                font-size: large;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    background-color: #f8faf7;

                    &::placeholder{
                        color: gray;
                    }
                }

                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        height: 24px;
                        cursor: pointer;
                    }

                    button{
                        padding: 10px 15px;
                        background-color: #406376;
                        color: #ffffff;
                        border: none;

                    }
                    
                    button:hover{
                        background-color: #2e3130;
                    }

                    

                }
            }
        }

    }
 }

